In [1]:
t1 = (1, "korea", 3.5, 1)
t2 = 1, "korea", 3.5, 1
t3 = tuple([1, "korea", 3.5, 1])
t4 = ()
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [2]:
t = (1, 2, 3)
t1 = t + (4, 5)
print(t1)

(1, 2, 3, 4, 5)

In [3]:
print(t * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [4]:
t = ('a', 'b', 'c', 'd', 'e')
t[1]

'b'

In [5]:
t = ((10,20), (30,40), (50,60))
t[2][0]

50

In [6]:
t1 = (350)
t2 = (350,)
print(type(t1))
print(type(t2))

<class 'int'>
<class 'tuple'>

In [7]:
(a, (b, (c,d))) = (4, (3, (2,1)))
print(b)

3

In [8]:
t = ((10,20), (30,40), (50,60))
len(t)

3

In [9]:
t = (0, 1, 2, 3, 4)
len(t)

5

In [10]:
t = (1, 2,'a', 'b')
t[:3]

(1, 2, 'a')

In [11]:
a = [1,2,'aa',(6,3),[10,'bb']]
print(a)

[1, 2, 'aa', (6, 3), [10, 'bb']]

In [12]:
my_str = 'hyemi'
my_list = list(my_str)
print(my_list)

['h', 'y', 'e', 'm', 'i']

In [13]:
s = "Nice to meet you guys"
a = s.split()
a

['Nice', 'to', 'meet', 'you', 'guys']

In [14]:
a[1:4]

['to', 'meet', 'you']

In [15]:
a[1:-2]

['to', 'meet']

In [16]:
a[:3]

['Nice', 'to', 'meet']

In [17]:
a[::2]

['Nice', 'meet', 'guys']

In [18]:
a[3:]

['you', 'guys']

In [19]:
a[:3] + a[3:] == a

True

In [20]:
a[:3] + a[3:] is a

False

In [21]:
full_slice = a[:]
full_slice

['Nice', 'to', 'meet', 'you', 'guys']

In [22]:
my_list = ['a','b','d','a','c','a']

In [23]:
my_list.index('b')

1

In [24]:
my_list.count('a')

3

In [25]:
my_list.insert(1, 'v')
print(my_list)

['a', 'v', 'b', 'd', 'a', 'c', 'a']

In [26]:
a = [71, 72, 73, 74]
a.insert(2, 77)
a

[71, 72, 77, 73, 74]

In [27]:
a = [1, 2, 3, 4]
a.append(5)
a

[1, 2, 3, 4, 5]

In [28]:
a = [1, 2, 3]
a.extend([4, 5, 6])
a

[1, 2, 3, 4, 5, 6]

In [29]:
a = [1, 2, 3, 4, 5, 6]
a.remove(4)
a

[1, 2, 3, 5, 6]

In [30]:
a = [1, 2, 3, 4, 5, 6]
del a[3]
a

[1, 2, 3, 5, 6]

In [31]:
a = [1, 10, 5, 7, 6]
a.reverse()
a

[6, 7, 5, 10, 1]

In [32]:
a = [1, 10, 5, 7, 6]
sorted(a)

[1, 5, 6, 7, 10]

In [33]:
a = [1, 10, 5, 7, 6]
reversed(a)

In [34]:
a = [1, 10, 5, 7, 6]
a.sort()
a

[1, 5, 6, 7, 10]

In [35]:
a = [1, 10, 5, 7, 6]
a.sort(reverse=True)
a

[10, 7, 6, 5, 1]

In [36]:
a = ['나는', '파이썬을', '잘하고', '싶다']
a.sort(key=len)
a

['나는', '싶다', '잘하고', '파이썬을']

In [37]:
a = [1, 10, 5, 7, 6]
sorted(a)

[1, 5, 6, 7, 10]