In [1]:
{1, 2, 3, 4}.isdisjoint({3, 4, 5, 6})

False

In [2]:
{1, 2, 3, 4}.isdisjoint({7, 8, 9})

True

In [3]:
{3, 4}.issubset({2, 3, 4, 5})

True

In [4]:
{1, 4, 7}.issubset({2, 3, 4, 5})

False

In [5]:
{2, 3, 4, 5}.issuperset({3, 4})

True

In [6]:
{2, 3, 4, 5}.issuperset({1, 4, 7})

False

In [7]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [8]:
# 합집합을 만들어서 리턴
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
# 합집합을 만들어서 원본 데이터 갱신
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [11]:
# 차집합을 만들어 리턴
print(s1.difference(s2))
print(s1)

{1, 2, 3}
{1, 2, 3, 4, 5}

In [12]:
# 차집합을 만들어 원본 데이터를 갱신
s1.difference_update(s2)
s1

{1, 2, 3}

In [13]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [14]:
# 교집합을 만들어 리턴
print(s1.intersection(s2))
print(s1)

{4, 5}
{1, 2, 3, 4, 5}

In [15]:
# 교집합을 만들어 원본 데이터를 갱신
s1.intersection_update(s2)
s1

{4, 5}

In [16]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [17]:
# 대칭차를 만들어 리턴
print(s1.symmetric_difference(s2))
print(s1)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5}

In [18]:
# 대칭차를 만들어 원본 데이터를 갱신
s1.symmetric_difference_update(s2)
s1

{1, 2, 3, 6, 7, 8}

In [19]:
s = {1, 2, 3, 4, 5, 6, 7}

In [20]:
s.remove(7)
s

{1, 2, 3, 4, 5, 6}

In [21]:
s.remove(100)
s

KeyError: 100

In [22]:
s = {1, 2, 3, 4, 5, 6, 7}

In [23]:
s.discard(4)
s

{1, 2, 3, 5, 6, 7}

In [24]:
s.discard(100)
s

{1, 2, 3, 5, 6, 7}

In [25]:
s = {1, 2, 3, 4, 5, 6, 7}

In [26]:
print(s.pop())
print(s)

1
{2, 3, 4, 5, 6, 7}

In [27]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

In [28]:
print(a is b)
print(a is c)

True
False

In [29]:
print(a == b)
print(a == c)

True
True

In [30]:
# 튜플에서 중복값 제거하기
a = (1, 1, 2, 3, 3, 3, 4, 5)
a = tuple(set(a))
print(a)

(1, 2, 3, 4, 5)

In [31]:
s = {1, 5, 6, 2, 7}
s.clear()
s

set()

In [32]:
s = {1, 2, 3, 1, 2, 3}
print(f"집합 : {s}")
print(f"집합의 길이 : {len(s)}")

집합 : {1, 2, 3}
집합의 길이 : 3

In [33]:
myset = {1, 3, 5}

In [34]:
# 하나만 추가
myset.add(7)
myset

{1, 3, 5, 7}

In [35]:
# 여러 개 추가
myset.update({4, 2, 10})
myset

{1, 2, 3, 4, 5, 7, 10}

In [36]:
myset = {1, 3, 5}

In [37]:
# 하나만 삭제
myset.remove(1)
myset

{3, 5}

In [38]:
# 모두 삭제
myset.clear()
myset

set()

In [39]:
# 집합 연산자
a = {1, 3, 5}
b = {1, 2, 5}

In [40]:
# 교집합
i = a & b
i

{1, 5}

In [41]:
# 합집합
u = a | b
u

{1, 2, 3, 5}

In [42]:
# 차집합
d = a  - b
d

{3}

In [43]:
scores = {'철수': 90, '민수': 85, '영희': 80}
for name, score in scores.items():
  print(f"{name}의 점수 : {score}점")

철수의 점수 : 90점
민수의 점수 : 85점
영희의 점수 : 80점

In [44]:
menuA = {'떡볶이': 500, '오뎅': 300}
menuB = menuA
menuA['떡볶이'] = 1000
print(menuB)

{'떡볶이': 1000, '오뎅': 300}

In [45]:
d = {1: 'apple', 2: 'banana', 3:'egg'}

In [46]:
# pop : 특정 키의 값을 리턴하고 삭제 (키 값이 없으면 오류)
print(d.pop(1))
print(d)

apple
{2: 'banana', 3: 'egg'}

In [47]:
d.pop(8)

KeyError: 8

In [48]:
d = {1: 'apple', 2: 'banana', 3:'egg'}

In [49]:
# popittem : 임이의 데이터(키, 값)을 리턴하고 삭제
print(d.popitem())
print(d)

(3, 'egg')
{1: 'apple', 2: 'banana'}

In [50]:
# fromkeys : iteratble 키 값으로 사전 생성
dict.fromkeys(['one', 'two', 'three'], 10)

{'one': 10, 'two': 10, 'three': 10}

In [51]:
d = {1: 'apple', 2: 'banana', 3:'egg'}

In [52]:
1 in d      # 키 확인

True

In [53]:
'apple' in d

False

In [54]:
'apple' in d.values()

True

In [55]:
# Tuple List로부터 dict 생성
ages = [('철수', 30), ('민수', 35), ('영희', 25)]
mydict = dict(ages)
mydict

{'철수': 30, '민수': 35, '영희': 25}

In [56]:
scores = dict(a=80, b=90, c=85)
scores

{'a': 80, 'b': 90, 'c': 85}

In [57]:
mydict = {'a': 1, 'b': 2}
for i in mydict:
  print(i, end = ' ')

a b

In [58]:
d = {4 : 'a', 2 : 'b', 7 : 'c'}
sorted(d)

[2, 4, 7]

In [59]:
s2 = set("python")
print(s2)

{'n', 'o', 'h', 't', 'p', 'y'}

In [60]:
s = set('Hello')
print(len(s))

4

In [61]:
# 다음 세 집합의 교집합을 구해보세요
set1 = {1, 2, 3, 6, 8}
set2 = {2, 3, 4, 9, 6}
set3 = {1, 2, 5, 4, 6}
print(set1.intersection(set2).intersection(set3))

{2, 6}

In [62]:
# 다음 세 집합의 교집합을 구해보세요
set1 = {1, 2, 3, 6, 8}
set2 = {2, 3, 4, 9, 6}
set3 = {1, 2, 5, 4, 6}
print(set1.intersection(set2).intersection(set3))

{2, 6}

In [63]:
# 얕은 복사
import copy
a = [1, 2, 3]
b = copy.copy(a)
# b = a.copy()
b[0] = '*'
print(a)

[1, 2, 3]

In [64]:
# 가변 객체의 대입
a = [1, 2, 3]
b = a
b[0] = '*'
print(a)

['*', 2, 3]

In [65]:
# 얕은 복사
import copy
a = [['a', 'b'], 1, 2, 3]
b = copy.copy(a)
# b = a.copy()
b[1] = '*'
print(a)
b[0][0] = '*'
print(a)

[['a', 'b'], 1, 2, 3]
[['*', 'b'], 1, 2, 3]

In [66]:
# 깊은 복사
a = [['a', 'b'], 1, 2, 3]
b = copy.deepcopy(a)
b[0][0] = '*'
print(a)

[['a', 'b'], 1, 2, 3]

In [67]:
d = {'a': [1,2,3], 'b': 2}
shallow = copy.copy(d)

shallow['a'][0] = '*'

print(d, hex(id(d)))
print(shallow, hex(id(shallow)))

{'a': ['*', 2, 3], 'b': 2} 0x1eef9008f00
{'a': ['*', 2, 3], 'b': 2} 0x1eef90065c0