In [ ]:
import this

## 마크다운 실습 
마크다운이란 무엇인가

In [ ]:
year = 2022
print(year)

In [ ]:
person1, person2 = 'Eli', 'Abe'
print(person1)
print(person2)
person1, person2 = person2, person1 
print(person1)
print(person2)

In [ ]:
# person1 = 'Eli'
# person2 = 'Abe'

# person1, person2 = 'Eli', 'Abe'

# person1 = 'Eli'; person2 = 'Abe'

In [1]:
my_str = 1 
print(my_str)

1

In [3]:
"""
작성일: 22.03.14
작성자: 이창민 
목적: IOT와로보틱스 실습 2주차 
TODO: 
"""
# 두 변수를 선언하고, 
# 더한 값을 출력하는 방법에 대해 fstring으로 표현하세요 

# 변수의 선언 
a = 1 
b = 2 

# 출력
print(f"a+b는 출력하면 다음과 같음 :: {a+b}")

a+b는 출력하면 다음과 같음 :: 3

In [5]:
# 자료형. Number 실습 
a = 3 
b = 4 
print(type(a))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(type(a/b))
print(a//b)
print(a%b)
print(a**b)

<class 'int'>
7
-1
12
0.75
<class 'float'>
0
3
81

In [9]:
a = 3
print(type(a))

b = -4.7 
print(type(b))

c = int(b)
print(type(c))
print(c)
print(f"{b}를 int로 typecast하면 {c}이다")

<class 'int'>
<class 'float'>
<class 'int'>
-4
-4.7를 int로 typecast하면 -4이다

In [10]:
a = None 
a is None

True

In [14]:
print(bool()) #0, 0.0, "", [], tuple(), None
print(bool(-2.3))

False
True

In [22]:
a = 4
b = 2 
print(a==b)

False

In [35]:
a = 1 
a += 1  # a = a+1 랑 같음 
print(a)

2

In [47]:
# my_string = 'string 어쩌구저쩌구'
# my_string = "string 어쩌구저쩌구"
# my_string = '''string 
# 어쩌구저쩌구'''
# my_string = """string 
# asdasd
# asdasd
#  어쩌구저쩌구"""
# my_string = """I'm changmin, say "Ho!!" """
# my_string = '''I'm changmin, say "Ho!!" '''
my_string = "I\'m changmin, \nsay \"Ho!!\" "
print(my_string)

I'm changmin,
say "Ho!!"

In [70]:
my_string = "HELLO"
my_string[2:-5:-1]

'LE'

In [76]:
my_string = "HW1_2011324042.ipynb"
my_string.split('.')

['HW1_2011324042', 'ipynb']

In [80]:
my_string = "asDDDbe"
my_string.lower() #capitalize, upper, lower

'asdddbe'

In [81]:
my_string = "asDDDbe"
print(len(my_string))

7

In [85]:
재료 = "참치"
음식 = "김밥"
수량 = 2
단위 = "줄"
my_menu = f"오늘의 점심은 {재료}{음식} {수량}{단위} 입니다."
print(my_menu)

오늘의 점심은 참치김밥 2줄 입니다.

In [116]:
t1 = tuple()
print(type(t1))
t2 = (1,)
print(type(t2))
print(t2)
t3 = (1,2,"korea",None,True,6,(1,2,3,1,4,),"",t2,)
print(t3)
print(len(t3))
t4 = t2+t3
print(t4)

t5 = (1) #뒤에 콤마 안찍으면 int 되어 버림
print(type(t5))

<class 'tuple'>
<class 'tuple'>
(1,)
(1, 2, 'korea', None, True, 6, (1, 2, 3, 1, 4), '', (1,))
9
(1, 1, 2, 'korea', None, True, 6, (1, 2, 3, 1, 4), '', (1,))
<class 'int'>

In [97]:
a,b = 1,2
(c,(d,(e,f))) = (1,(2,(3,4)))
c,d = d,c
print(f"{c}, {d}")

2, 1

In [101]:
t = ("a","b","c","d","e")
t[1]

'b'

In [102]:
t[1] = 2

TypeError: 'tuple' object does not support item assignment

In [103]:
t[:3]

('a', 'b', 'c')

In [107]:
t=(1,2,(3,4),5,)
t[2][0]

3

In [117]:
t=(1,)
print(len(t))
# (1,)인 튜플은 원소가 두 개 인건가요?

1

In [122]:
t = (1,(2,(3,(4,5))))
print(t[1][1][1][1])

5