In [2]:

# x = 1.1 # 1, 1.1, None, True, False
x,y = 1,2.2 
x,y = y,x
print(x+y)

3.2

In [3]:
print(dir(x))

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__set_format__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [13]:
x = "stratwetwtwet"
# print(type(x))
# x[1:10:2]
# x[-1:-10:-2]
y = x.upper()
print(y)
print(x)

STRATWETWTWET
stratwetwtwet

In [18]:
# x = (1,2,3,1,)
# x[2] = 99
# x = [1,2,3,1,]
# x[2] = 99
# x
x = (1,2,3,1,)
x = list(x)
x[2] = 99 
x = tuple(x)
print(x)

(1, 2, 99, 1)

In [29]:
x = "stratwetwtwet"
y = x.upper()
print(y)
print(x)

print("-"*30)

x = [99,1,2,4,9,7]
y = x.sort()
print(y)
print(x)

print("-"*30)
x = (99,1,2,4,9,7)
y = sorted(x)
print(y)
print(x)

STRATWETWTWET
stratwetwtwet
------------------------------
None
[1, 2, 4, 7, 9, 99]
------------------------------
[1, 2, 4, 7, 9, 99]
(99, 1, 2, 4, 9, 7)

In [43]:
x = [1,2,3,4]
# x += [1,2,3]
# x.extend((5,6,7))
# x.append((5,6,7))
x += [[5,6,7]]
print(x)
print(len(x))

[1, 2, 3, 4, [5, 6, 7]]
5

In [45]:
x = {112,31,1,1,1,1,1,1,1,}
# x = {"cm":35,"hj":32}
x

{1, 31, 112}

In [53]:
# x = {0, 1, 1.1, False, None, "string",(1,2,3,1),True}
# print(x)

{0, 1, 1.1, None, 'string', (1, 2, 3, 1)}

In [60]:
# 재미있는 예제: 단, -2나 tuple() 같은 것들은 true와 같다고 연산되지 않는다. 체크해보자
x = {False, True, 0, 0.0, 0, 1, 1.0}
print(x)

{False, True}

In [61]:
s = set('Hello')
print(len(s))

4

In [62]:
s = {} # set()
type(s)

dict

In [67]:
{1,5,2,6} | {6,2,7,8}

{1, 2, 5, 6, 7, 8}

In [69]:
set1 = {1,2,3,6,8}
set2 = {2,3,4,9,6}
set3 = {1,2,5,4,6}
print(set1 & set2 & set3)

{2, 6}

In [71]:
# x=2
# print(1<x<3)

True

In [75]:
setA = {1,2,4,7}
setB = {2,3,7,9}
print(setB - setA)

{9, 3}

In [87]:
# setB[1]
x = {1,5,3,2,-99}
x - {3,1,}
# 1 in x

{-99, 2, 5}

In [76]:
passA = {"민영","동윤","혜미","소정","재훈"}
passB = {"재훈","지수","민기","혜미"}
print(passA & passB)

{'혜미', '재훈'}

In [92]:
a = ('a', ('s','d'),('f','g','h'))
print(a[-1][1])

g

In [116]:
a = [4,6,2,7,4]
# a.sort()
# a = sorted(a)
a = list(set(a))
a

[2, 4, 6, 7]

In [126]:
a = {9,40,49}
print(a)

{40, 9, 49}

In [127]:
output = {40,9,49}
output

{9, 40, 49}

In [115]:
my_str = "Hi-I-am-a-robot"
x = my_str.split("-")
print(x)

['Hi', 'I', 'am', 'a', 'robot']

In [113]:
my_str = "I want to sleep"
my_str_list = my_str.split()
print(my_str_list)
my_str_list[-1] = "rest"
print(my_str_list)

['I', 'want', 'to', 'sleep']
['I', 'want', 'to', 'rest']

In [135]:
ages = [('철수',30),('민수',35),('영희',25)]
# ages = [['철수',30],['민수',35],['영희',25]]
mydict = dict(ages)
mydict

{'철수': 30, '민수': 35, '영희': 25}

In [136]:
mydict = {"a":1, "b":2}
for i in mydict: 
    print(i, end = " ")

a b

In [143]:
print("hello world", end="  ")
print("hello world", end="\n\n")
print("hello world", end="\n")

hello world  hello world

hello world

In [148]:
menuA = {"떡볶이":500, "오뎅":300}
menuB = menuA
menuA["로제떡볶이"] = 1000
menuA["떡볶이"] = 1000
print(menuB)

{'떡볶이': 1000, '오뎅': 300, '로제떡볶이': 1000}

In [131]:
scores = {"철수":90, "민수":85, "영희":80}
for name, score in scores.items():
    print(f"{name}의 점수: {score}점")

철수의 점수: 90점
민수의 점수: 85점
영희의 점수: 80점

In [149]:
d = {4:'a', 2:'b', 7:'c'}
sorted(d)

[2, 4, 7]

In [134]:
x = 'I\'m hungry'
# x = "I'm hungry"

In [152]:
a = [1,2,3]
b = a 
a[0] = 9999
print(b)
print(a)

[9999, 2, 3]
[9999, 2, 3]

In [154]:
a = [1,2,3]
b = a.copy() 
a[0] = 9999
print(b)
print(a)

[1, 2, 3]
[9999, 2, 3]

In [155]:
a = [[1,7,8],2,3]
b = a.copy() 
a[0][2] = 9999
print(b)
print(a)

[[1, 7, 9999], 2, 3]
[[1, 7, 9999], 2, 3]

In [156]:
import copy
a = [[1,7,8],2,3]
b = copy.deepcopy(a) 
a[0][2] = 9999
print(b)
print(a)

[[1, 7, 8], 2, 3]
[[1, 7, 9999], 2, 3]